* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  margin-top: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  width: 100%;
  gap: 20px;
}

.results {
  flex: 3;
  text-align: center;
}

.results h1 {
  color: #474646;
  font-size: 1.4em;
  margin-bottom: 0.3em;
}

.results p {
  font-size: 1em;
  margin-bottom: 3em;
  color: #666;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 100%;
  max-width: 420px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-body {
  padding: 15px;
}

.card-body h2 {
  color: #504f4f;
  font-size: 1.2em;
  margin-bottom: 1.2em;
}

.card-body p {
  font-size: 1em;
  color: #807f7f;
  margin-bottom: 1.4em;
}

.read-more {
  color: #007BFF;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

.sidebar {
  flex: 1;
  min-width: 250px;
  padding-top: 90px;
}

.sidebar .categories h3 {
  font-size: 0.9em;
  margin-bottom: 1em;
}

.sidebar .categories ul {
  list-style: none;
}

.sidebar .categories li {
  margin-bottom: 0.7em;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.sidebar .categories a {
  font-size: 0.9em;
  color: #999999;
  text-decoration: none;
}

.sidebar .categories a:hover {
  text-decoration: underline;
}

.search-box {
  margin-top: 2em;
}

.search-box label {
  font-size: 0.9em;
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.search-container {
  position: relative;
}

.search-container input {
  width: 100%;
  padding: 8px 40px 8px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #666;
  font-size: 16px;
}

.search-button:hover {
  color: #007BFF;
}

/* RESPONSIVIDADE */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    padding-top: 30px;
  }

  .results {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .grid {
    flex-direction: column;
    align-items: center;
  }

  .card {
    max-width: 100%;
  }

  .sidebar {
    padding-top: 20px;
  }
}